body{
    background-color: antiquewhite;
}

.main-content{
    width: 80%;
}

.side-content{
    width: 20%;
}

.container header{
    background-image: url(/download\ \(9\).jpeg);
    margin: 20px 0;
    padding: 3rem 0;
    text-align: center; 
    color: aliceblue;
}

.col a{
    text-decoration: none;
    color: black;
}

.side-content .col li{
    list-style: none;
}

h4{
    color: darkslateblue;
    font-weight: 500;
}

h2{
    font-weight: 700;
}